.saludo{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.saludo h1{
    padding-top: 15px;
}
.container-flex{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img-personal{
    height: 200px;
}
.animacion-txt{
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1rem;
        margin: 0 auto;
        font-family: "Courier New";
        border-right: 0.15em solid #18bdec;
        animation: typing 2s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
      }
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
      @keyframes blink {
        50% {
          border-color: transparent;
        }
      }
.cssbuttons-io-button {
    background: rgb(209, 206, 206);
    color: #050915;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em rgb(209, 206, 206);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
   }
   .container-btn{
    display: flex;
    justify-content: center;
   }
   
   .cssbuttons-io-button .icon {
    background: #050915;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em rgb(209, 206, 206);
    right: 0.3em;
    transition: all 0.3s;
   }
   
   .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
   }
   
   .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: rgb(209, 206, 206);
   }
   
   .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
   }
   
   .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
   }
   


@media (max-width: 768px){
    .container-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}